# GitHub Main
Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_rsa_gh_main
    AddKeysToAgent yes
    IdentitiesOnly yes
    UseKeychain yes

# GitHub Work
Host github.com-work
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_rsa_gh_work
    AddKeysToAgent yes
    IdentitiesOnly yes
    UseKeychain yes

# GitLab Main
Host gitlab.com
    HostName gitlab.com
    User git
    IdentityFile ~/.ssh/id_rsa_gl_main
    AddKeysToAgent yes
    IdentitiesOnly yes
    UseKeychain yes

# GitLab Work
Host gitlab.com-work
    HostName gitlab.com
    User git
    IdentityFile ~/.ssh/id_rsa_gl_work
    AddKeysToAgent yes
    IdentitiesOnly yes
    UseKeychain yes
